/*declare fonts*/
@font-face {
  font-family:playfairdisplay;
  src: url(./font/PlayfairDisplay-Regular.ttf);
}
@font-face {
  font-family:playfairdisplay-bold;
  src: url(./font/PlayfairDisplay-Bold.ttf);
}
@font-face {
  font-family:noto;
  src: url(./font/NotoSans-Regular.ttf);
}
@font-face {
  font-family:noto-b;
  src: url(./font/Noto-sans-Bold.ttf);
}
 /* @font-face {
    font-family:sourcesans-pro;
    src: url(./font/SourceSansPro-Black.ttf);
  }
  @font-face {
    font-family:playfairdisplay-bold;
    src: url(./font/SourceSansPro-Bold.ttf);

}*/

.pfd-b{
  font-family: playfairdisplay-bold ,serif;
}

.ns-b{
  font-family: noto-b,sans-serif;
}
.ta-c{
  text-align:center;
}
.font-400{
  font-weight:400;
}
.ta-l{
  text-align: left;
}
.dark-green{
  color:#55613F;
}
.font-22{
  font-size:22px;
}

.ta-r{
  text-align: end;
}
.lgreen-bg{

  background-color:#8bb85a;
}
.ourdgreen{
  color: #55613F;
}
/*
.ss-pro{
  font-family:sourcesans-pro;
}
.ss-pro-b{
  font-family:playfairdisplay-bold;
}*/



/*first  page index*/
.index-img{
  width:100%;
  height: 100%;
  
}

.container-index {
  position: relative;
  width: 100%;
  height:100%
}
/*
.parent-index{
  position:relative;
}
*/


.overlay-index {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .4s ease;
  background-color: #008CBA;
  border:3px solid rgb(253,240,208);
  border-radius: 2px;
 
}
.index-child-log{
  position:absolute;
  top:0;
  left:50%;
 
  box-sizing: border-box;
transform: translateX(-50%);

}
.index-logo{
  width:90px;
  height:80px;
}
.container-index:hover .overlay-index {
  opacity: .8;
  left:0%
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX( -50%);
  -ms-transform: translateX( -50%);
  transform: translateX( -50%);
  text-align: center;
  white-space: nowrap;
 
}
.title-index{
   text-transform: uppercase;
   letter-spacing: 7px;
}
.p-index{
  text-transform:capitalize;
  letter-spacing: 2px;
  font-size:larger;
}

.overlay-index-r{
  position: absolute;
 top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:rgb(177,201,131);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .4s ease;
 
 
}
.text-r{

    color: white;
    font-size: 20px;
    position: absolute;
    top: 20%;
    left: 50%;
    -webkit-transform: translateX( -50%);
    -ms-transform: translateX( -50%);
    transform: translateX( -50%);
    white-space: nowrap;
    text-align: center;
  
}
.container-index:hover .overlay-index-r {
  opacity: .8;
  width:100%;
  border:3px solid rgb(253,240,208);
  border-radius: 2px;
}

/*approach page*/
.intro-img{
  height:270px;
}
 .child-centered{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
 }
 .intro-title{
   text-transform: capitalize;
   font-size: 45px;
 }
  /*
  @media  screen and (max-width:767.98px){
  .hide-nav{
    display:none;
  }
  } 
  
  @media  screen and (max-width:991.98px){
  .s{
    display:none;
  }
  } */
  /*animatoin*/
   /*animatiom from up to down*/
  
   @keyframes fromuptodown{
    from {
      opacity:0;
      transform:translateY(-150px)
    }
    to {
      opacity:1;
      transform:translateY(0)
    }
  }
  
  /*animation from down to up*/
  @keyframes fromdowntoup{
    from {
      opacity:0;
      transform:translateY(150px)
    }
    to {
      opacity:1;
      transform:translateY(0)
    }
  }
   
  /*animation from left*/
  
  @keyframes fromLeft{
    from {
      opacity:0;
      transform:translateX(60px)
    }
    to {
      opacity:1;
      transform:translateX(0)
    }
  }
  
  /*animation from left*/
  
  @keyframes fromRight{
    from {
      opacity:0;
      transform:translateX(-100px)
    }
    to {
      opacity:1;
      transform:translateX(0)
    }
  }
  /*animation fade*/
  
  @keyframes fadeIn{
    0% {
      opacity:0;
      
    }
    100% {
      opacity:1;
      
    }
  }
  
  /*animation */
  
  @keyframes popup{
    0%    { color:transparent; opacity:0;transform: scale(0)}
    
    100%  { opacity: 1;width:100%}
  }
  
  /*animation  for car letters title */
  
  @keyframes fly{
    from { transform:matrix(1.80,0.00,0.00,1.00,-20,-50);}
    to {opacity:1;transform:(0); }
  }

/*home page*/
.parent3{
  position:relative
}



/*nav css*/
.navbar-dark .navbar-nav .nav-link{
  font-size: 0.75rem ;
  color:white;
  letter-spacing: 0.5px;
  padding: 4em 8px;
  opacity:1;
  font-size:15px;
  line-height: 0;
  letter-spacing: 1px;
  text-transform: capitalize;
}
.navbar-dark .navbar-nav .nav-link:hover{
color:rgb(253,240,208);
}
.navbar-nav .active > .nav-link
{
  border-bottom:3px solid white;
}

.navbar
{
   background-color: transparent;
   border-bottom: 1px solid rgba(255,255,255,.1);

   }
 .row{
    margin-right: 0px;
    margin-left: 0px;

  }
 
      #child1 {
       position: absolute;
       top:0px;
  
      }
      .navbar-expand-lg .navbar-collapse{
       margin-left:23%;
     
      }
    
      /*logo*/
      .pr-2{
        width: auto;
        height: 65px;
      }

     
      /*carousel indicators*/
      .carousel-indicators{
      position: absolute !important;
     
      }
      .sorawrap{
        height:100%
        }
   .carousel-indicators li{
      width:13px;
      height:13px;
      border-radius:50%;
      border:2px solid white;
      background-color: transparent;

   }
   .carousel-indicators .active{
     background-color: white;
   }
   /*yellow button*/
   .yellow-button{
    background-color:  #00a49d ;
    color:white;
    text-transform:capitalize;
    padding:12px 35px;
    font-weight: 500;
    animation-name:fromRight;
    animation-duration:1s;
   
   }
  
   
   
   /*carousel 1st img*/
   
   .first-carousel-content{
    position:absolute;
    top:40%;
    left: 50%;
    transform: translate(-50%, -50%);
  
   }
   /*carousel content first img*/
   .car-first-p{
     color :white;
     font-style: italic;
     letter-spacing: 2px;
     line-height: 60px;
     text-transform: uppercase;
     text-align: center;
     margin-bottom: 0px;
     animation-name:fromuptodown;
   
  
   }
  .car-img{
    height:100%;
    max-height:700px;;
  }
    .car-title{
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 80px;
    font-weight: 700;
    font-size: 80px;
    border-color: rgb(153, 153, 153);
    border-style: none;
    text-align: center;
    color: rgb(255, 255, 255);
    
   }
   .car-title2{
  
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing:-6px;
    line-height: 80px;
    font-weight: 700;
    font-size: 60px;
    color: #8bb85a;
    border-style: none;
    text-align: left;
    animation:fromuptodown  1s;
    text-align: center;
   
   }
  
   .car-second-p{
  
    color :white;
    font-style: italic;
    letter-spacing: 2px;
    line-height: 60px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0px;
    animation-name:fromuptodown 1s;
   }
  
   /*letters separate 3rd car*/
   .letterparent :nth-child(1) {
    animation-delay: 40ms;
  }
  
  .letterparent :nth-child(2) {
    animation-delay: 80ms;
  }
  
  .letterparent :nth-child(3) {
    animation-delay: 120ms;
  }
  
  .letterparent :nth-child(4) {
    animation-delay: 160ms;
  }
  
  .letterparent :nth-child(5) {
    animation-delay: 300ms;
  }
  
  .letterparent :nth-child(6) {
    animation-delay: 340ms;
  }
  
  .letterparent :nth-child(7) {
    animation-delay: 380ms;
  }
  
  .letterparent :nth-child(8) {
    animation-delay: 420ms;
  }
  
  .letterparent :nth-child(9) {
    animation-delay: 460ms;
  }
  
  .letterparent :nth-child(10) {
    animation-delay: 500ms;
  }
  
  .letterparent :nth-child(11) {
    animation-delay: 540ms;
  }
  
  .letterparent :nth-child(12) {
    animation-delay: 580ms;
  }
  
  .letterparent :nth-child(13) {
    animation-delay: 620ms;
  }
  
  .letterparent :nth-child(14) {
    animation-delay: 660ms;
  }
  
  .letterparent :nth-child(15) {
    animation-delay: 700ms;
  }
  
  .letterparent :nth-child(16) {
    animation-delay: 740ms;
  }
  
  .letterparent :nth-child(17) {
    animation-delay: 780ms;
  }
  
  .letterparent :nth-child(18) {
    animation-delay: 820ms;
  }
  
  .letteranime{
    opacity:0;
    float:left;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing:-6px;
    line-height: 80px;
    font-weight: 700;
    font-size: 60px;
    color:#eeb313;
    border-style: none;
    text-align: left;
    animation:fly 1s;
    animation-fill-mode: forwards;
  }
  
  
  /*new aboyt us */
  .about-us-p
  {
   
    text-align: center;
    color: #00a49d;
    margin-right: auto;
    margin-left: auto;
    width:45%;
    text-transform:capitalize;
    font-size:16px;
    line-height:1.7;
    font-weight:300;
    font-stretch: expanded;
  }
.font-19{
  font-size:19px;
}
  .overlay{
    background-color:#e6e7e8;
    max-width: 100%;
    height:max-content;
    width:100%;
    opacity:.9
  }

  .overlay-logo{
    background-color: rgba(177,201,131,.9);
    max-width: 100%;
    height:max-content;
    width:100%
  }
  
  .bg-logo{
    background-image: url('../img/Logo.svg') ;
    overflow: hidden;
    background-position:  center;
    height:400px;
    background-repeat: no-repeat;
   
   
  }
  /*vission and mission*/
 
  .title-vision{
    text-align: center;
    color: #063E73;
    text-transform:capitalize;
    font-weight:600;
    font-family: noto,sans-serif;
    
  }
  .gray-txt{
    color:#777
  }

  .vision-p{
    text-align:center;
    font-weight:400;
    font-size:16px;
    font-size:30px;
    width:40%;
    margin:0px auto;
    box-sizing: border-box;
    font-family: playfairdisplay ,serif;
  }
  .mddl{
    border-right:1px solid #261e4c ;
    border-left:1px solid #261e4c ;
  
  }
.app-p{
  font-weight: 500;
  margin-left: 3%;
  margin-right: 3%;
  font-family: playfairdisplay ,serif;
  line-height: 2;

  
}

/*companies title*/
.companies-title{
  text-align:center;
  font-family: noto,sans-serif; 
}
.nav-pills{
 
    border-top:1px solid #ebebeb;
    padding: 2% 0px;
    box-sizing: border-box;
    justify-content: center;
  
 
}
.title-on-cat{
  color:#ebebeb;
  text-transform: capitalize0;
  width:30%;
  font-family: noto,sans-serif;
  
}

.top-left{
  position: absolute;
  top: 120px;
  left: 45px;
}
/*product title*/
.product-title{
  text-align:center;
  font-family: noto,sans-serif;
  font-size:36px;
  color:#063E73;

}
.pro-font{
  font-style: italic;
   font-family:  playfairdisplay ,serif; 
}

/*my products-cards*/
.team-item{
  width: 263px;
  float:left;
  margin:0px 15px;
  
}
.member-bio {
  color: #fff;
  line-height: 2;
   font-size: 20px;
  padding: 26px 35px 130px;
  bottom: -100%;
  background-color:#00a49d;
  opacity:.9;
  z-index: 8;
  transition: .4s ease;
  position: absolute;
  width:263px;
  height:283px; 
 font-family: noto,sans-serif;
    text-transform: capitalize;
}

.member-info{
  width: 263px;
  height: 80px;
  background-color:#00a49d;
  color:white;
  font-size:16px;
  text-align:center;
  padding-top:20px ;
  overflow:hidden;
  font-family: noto,sans-serif;
  text-transform: capitalize;
  color: white;
  letter-spacing: 1pz;;
  
}

.team-footer{
  background-color:#00a49d;
   height:23px;
   width:263px;
   border-radius: 0 0  5px 5px ;
}

.team-item:hover .member-bio {
  
  bottom: 103px;
}

.team-item:hover .member-info{
 
  background-color: #063E73;
  font-size: 16px;
}

.product-item{
  position: relative;
  width: 100%;
}
.pro-det{
  font-size: 18px;
  font-family: playfairdisplay ,serif;
  text-align: center;
} 

.pro-inner{
  position: relative;
    width: 100%;
    overflow: hidden;
}
.teammemberimg{
  border-radius: 5px 5px 0 0;
   border-bottom-width: 0;
  width: 100%;
  height: 283px;
  position: relative;

  }
   .car-third-p{
    color :#eeb313;
    font-style: italic;
    letter-spacing: 2px;
    line-height: 60px;
    text-transform: uppercase;
    text-align: center;
    animation-name:fromdowntoup ;
    animation-duration: 1s;
  
    }
    /*partners part*/
    .white-txt{
      color:white;
    }
    .partners-des{
     font-size:16px;
     font-family:playfairdisplay-bold ,serif;
     font-weight:600;  
     text-align: center;
     color:#063E73;
     text-transform:capitalize
    }

   .car-brand-img{
width:200px;
height:100px;
  }

  .logo-brand-part{
    margin-right:auto;
    margin-left:auto;

  }
  .carousel-inner-part {
   text-align:center;
 }
  /*business page */
  .brand-logo{
    width:300px;
    height:300px;
  }
  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.4s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #00a49d;
    color: white;
    transform: rotateY(180deg);
  }
    .tab-des{
      width:77%;
      margin:2% auto;
    }
  /*export page*/
  .steps-wrap{
    position:absolute;
    top:10%;
    width:50%;
    left:40%;
    background-color: white;
    padding-right:20px;
    padding-left:20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   animation: fromuptodown 1s;
   
  
  }
  .export-wrap-img{
    animation-name:fromRight;
    animation-duration:1s;
   
  }
  .steps-wrap2{
    position:absolute;
    top:10%;
    width:50%;
    right:40%;
    background-color: #f0f9fd ;
    padding-right:20px;
    padding-left:20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 
  }
  .trace-img{
    height:110px;
    width:auto;
  }
  .trace-wrap{
    position:absolute;
    right:20%;
  }
  .trace-wrap-l{
    position:absolute;
    left:20%;
  }
  /*.hdrbrdr{
    padding:30px;
    width:390px;
    height:160px; 
  }*/
  /*txt yellow header*/
  div .txtmddl:hover{
    color:black;
    background-color: rgb(253, 250, 250,.3);
   transition: 0.3s;
  }
  .sora {
      overflow: hidden;
      height: 100%;
      width: 100%;
      opacity: 1;
      
  }
 
  /*about us paragraph*/
  .abtsp{
   
    color: #999;
    font-size:  13px;
   
  }
  
  
 
  h5  {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
 
  
  .space-90{
    height:90px;
    display: block;
  }
 
  
  .greenColor{
     color: #55613F; 
  }
  /*tabs under what we offer*/
  .nav-link-tab.active  
  {
  color:black;
  background-color: transparent;
  color:#eeb313;
  /*border:2px solid rgb(177,201,131);*/
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border-radius: 0px;
  
  }
 /*news page*/
.news-title{
  color: #033762;
line-height:1.2;
text-transform:capitalize;

}
.news-p{
  color: #033762;;
  font-weight:400;
  line-height:1.8;
  text-transform:capitalize;
  margin-top:15px;
}
.new-intro-img{
  height:400px;
  width:550px;
}
.news-img-med{
  width:100%;
  height:350px;
  margin-bottom: 3%;
}
.news-cir-img{
  border-radius: 50%;
  width:100%;
  height:158px;
  margin-bottom: 5%;
}
.sec-col-wrap{
  border-left: 1px solid rgba(0, 0, 0, 0.1);
 padding-left:1rem;
 border-right: 1px solid rgba(0, 0, 0, 0.1);
 padding-right:1rem;
}
.overlay-news{
  background-color:#f0f9fd ;
  padding-top:5%;
  padding-bottom:5%;
 
}
.employee-wrap{
  margin:9% ;
}
/*contact us page*/
.ta-c .fa{
font-size: 22px;
}
  .parent{
    position: relative;
  }
 
  .nav-link-tab:hover{
    color:#eeb313;
    text-decoration:none;
  
  }
  .nav-link-tab
  {
   
    
    padding: 41px 22px;
    margin: 0px 25px;
   
  
  }
 
  .margin-x{
    margin:0px 7%
  
  }
  .tabs-title{
    color:black;
    margin-bottom: 12px;
  
  }
  .logo-tab{
    width: 190px;
    height: 90px;

   
  }
  
  .max-width-c{
    max-width: 100%;
  
  }
  .first-col{
    width:33.33%;
    float:right
  
  }
  .side-banner-img{
    width:245px
  
  }
  .tab-titles
  {
    color:black;
    margin-bottom: 8px;
    font-size:14px;
  
  }
  .bg-pro{
   height:600px;
   width:100%;
  }
  .overlay-pro{
    background-color:rgba(238, 179, 19,.7);
  
    height:100%;
    width:100%;
 
    top:0;
    left:0;
    display:block
  }
 
  .space-60
  {
    height:60px;
    display: block;
    width:100%;
  
  }
  .space-24
  {
    height:24px;
    display: block;
    width:100%;
  
  }
 /*news part home page*/
 .news-link:hover{
text-decoration: none;

 }
/*footer*/
.overlay-footer{
  background-color:#e6e7e8;
  max-width: 100%;
  height:max-content;
  width:100%
}
.logo-footer{
  height:80px;
  width:75px;

}

.footer-logo-cont{
 text-align:center;
}
.footer-wrap a{
color:#00a49d ;
font-weight: 400;
    font-size: 15px;
    text-align: center;
    text-transform:capitalize
}

.footer-wrap a:hover{
  text-decoration: none;
}
  /*responsive*/
  /*hide first carousel*/
  @media screen and (max-width:576px){
    .hide-xs{
      display:none;
    }
    .counter-part::after{
      display:none;
    }
  
    .xs-brdr{
      padding:30px 38px ;
        border-bottom: 1px solid #ebebeb;
  
    }
   .header{
      background-color:#261e4c;
      display:block;
      
     }
   #child1{
      position: relative;
      
    }
  /*
  .bg33{
     height:510px;
      
    }
  */
  
    .overlay1{
     height:231px;
      
    }
  
  
    .mrgn-xs{
     margin-top:0px;
      
    }
  
  /*header*/
  
   nav ul .nav-link{
     padding:5px;
      
    }
  
  
   
  
   /*navbar*/
   .footer
   {
     background-color:rgb(6,169,154);
     color: #eeb313;
    
   }
  
   .nav-item:hover
   {
      color:white;
      
     
   }
   
   .txt-trans-cap{
    text-transform: capitalize;
  }
  .txt-trans-up{
    text-transform:uppercase
  }
}

.lgreen-font{
  color: #8bb85a
}
.dgreen-bg{

  background-color:#00a49d ;
}
.dgreen-font{
  color: #00a49d
}
.pfd{
  font-family: playfairdisplay ,serif;
}
.ns{
  font-family: noto,sans-serif;
}
.dark-blue{
  color:#033762;
}